<html>
  <head>
    <a href="/lead_actors">Lead Actors Index</a>
    <a href="/movies">Movie Index</a>
    <h1><%= @lead_actor.name %> Movie's</h1>
  </head>

  <body>
    <% @lead_actor_children.each do |movie| %>
      <h1><%= movie.name %></h1>
      <p>Rating out of 100(Rotten Tomatoes): <%= movie.rating %></p>
      <p>Over Two Hours?: <%= movie.over_two_hours %></p>
      <p>Lead Actor's ID: <%= movie.lead_actor_id %></p>
    <% end %>
  </body>
</html>
