<html>
  <head>
    <a href="/lead_actors">Lead Actors Index</a>
    <a href="/movies">Movie Index</a>
    <h1>Create New Lead Actor</h1>
  </head>

  <body>
    <div>
      <%= form_with url: '/lead_actors', method: :post, local: true do |form| %>
        <div><%= form.label :name %></div>
        <div><%= form.text_field :name %></div>
        <div><%= form.label :oscar %> (true or false)</div>
        <div><%= form.select :oscar, options_for_select([true, false]),
           class: 'form-control' %></div>
        <div><%= form.label :age %></div>
        <div><%= form.text_field :age %></div>
        <div><%= form.submit 'Create Lead Actor' %></div>
      <% end %>
    </div>
  </body>
</html>
